<!doctype html>
<html>
<head>
 <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<style>
    body{ background-color: ivory; }
    canvas{border:1px solid red;}
</style>

<script>
          

        $.ajax({
        url: "http://123.206.232.46:50/testjson",
        type: 'GET',
        dataType: 'json', // added data type
        success: function(res) {
            console.log(res.user);
            console.log(res.pass);
            console.log(res)
          // alert(res);
        }
 }  
)


//var c=0.8
    $(function(){

        var canvas=document.getElementById("canvas");
        var c=canvas.getContext("2d");

        // set the dynamic outside the loop
        var dynamic = 20;
        var x;
        var y;

         //loop function
         //} donnot need ;
function ajaxsend(){
        $.ajax({
        url: "http://123.206.232.46:50/testjson",
        type: 'GET',
        dataType: 'json', // added data type
        success: function(res) {
            console.log(res.user);
            console.log(res.pass);
            console.log(res);
            //alert(res);
        }
 }
);}
        function loop(){

            // change dynamic
            //this is set as argument 
            //this is coordinate(x,y)
           dynamic=dynamic+0.01;
           x = dynamic*1;
           y = 150+90*Math.sin(0.8*x);

            // stop the the animation if it runs out-of-canvas
            if (x>canvas.width || y>canvas.height){
                c.clearRect(0,0,canvas.width,canvas.height);
                clearInterval(myTimer);
                alert("animation done!");
            }
           // clear the canvas for this loop's animation
           //the below is very important
           /*
           when you donot call clearRect(),it remains origin drawing
           */
           //c.clearRect(0,0,canvas.width,canvas.height);
           
           c.fillStyle = 'red';
           ajaxsend();    
           // draw
           c.beginPath();
           //this is draw arc(x,y,radius,start ,end )
           c.arc(x,y, 1, 0, Math.PI*2, false);
           c.fill();
        }








        //this is setting interval
        var myTimer=setInterval(loop,10);       

    }); // end $(function(){});
</script>

</head>

<body>
    <canvas id="canvas" width=10000 height=400></canvas>
</body>
</html>
