<!doctype html>
<html>
<head>
 <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<style>
    body{ background-color: ivory; }
    canvas{border:1px solid red;}
</style>

<script>
          

        $.ajax({
        url: "http://123.206.232.46:50/testjson",
        type: 'GET',
        dataType: 'json', // added data type
        success: function(res) {
            console.log(res.user);
            console.log(res.pass);
            console.log(res)
          // alert(res);
        }
 }  
)


//var c=0.8
    $(function(){

        var canvas=document.getElementById("canvas");
        var c=canvas.getContext("2d");

        // set the dynamic outside the loop
        var dynamic = 20;
        var x;
        var y;
        var testdata;

         //loop function
         //} donnot need ;
function ajaxsend(){
        $.ajax({
        url: "http://123.206.232.46:50/testjson",
        type: 'GET',
        dataType: 'json', // added data type
        success: function(res) {
            console.log(res.user);
            console.log(res.pass);
            console.log(res);
            //alert(res);
            testdata1=res.testdata
        }
 }
);}
        function loop(){

            // change dynamic
            //this is set as argument 
            //this is coordinate(x,y)
           dynamic=dynamic+0.01;
           x = dynamic*1;
           //y = 150+90*Math.sin(0.8*x);
           y = testdata1// this is for test canvas part load.this is y vertex;data origin is testjson
            // stop the the animation if it runs out-of-canvas
            if (x>canvas.width || y>canvas.height){
                c.clearRect(0,0,canvas.width,canvas.height);
                clearInterval(myTimer);
                alert("animation done!");
            }
           // clear the canvas for this loop's animation
           //the below is very important
           /*
           when you donot call clearRect(),it remains origin drawing
           */
           //c.clearRect(0,0,canvas.width,canvas.height);
           
           c.fillStyle = 'red';
           ajaxsend();    
           // draw
           c.beginPath();
           //this is draw arc(x,y,radius,start ,end )
           c.arc(x,y, 1, 0, Math.PI*2, false);
           c.fill();
        }








        //this is setting interval
        var myTimer=setInterval(loop,10);       

    }); // end $(function(){});
</script>

</head>

<body>
    <canvas id="canvas" width=10000 height=400></canvas>
<a class="A">Data structure and algrithm<br/></a>
        <li><a href="https://people.ok.ubc.ca/ylucet/DS/Algorithms.html" class="A">Data structure  Visualizations</a></li>
        <li><a href="http://bigocheatsheet.com/" class="A">algorithm complexity sheet</a></li>
        <li><a href=" " mju class="B">Algorithm basics</a></li>  
        <li><a href=" " class="C">Asymptotic analysis</a></li>
        <li><a href=" " class="C">Greedy Algorithm</a></li>
        <li><a href=" " class="C">Divide and Conquer</a></li>
        <li><a href=" " class="C">Dynamic programing</a></li>
        <li><a href=" " calss="B" >Data structure Basic</a></li>
        <li><a href=" " class="B">Array data structure</a></li>
        <li><a href=" "  class="C">Binary search tree</a></li>
        <li><a href="https://youtu.be/ZdooBTdW5bM"  class="C">Huffman tree</a></li>
        <li><a href=" "  class="B">Linked list Basics</a></li>
        <li><a href=" "  class="C">Doubly Linked list </a></li>
        <li><a href=" "  class="C">Circular linked list</a></li>
        <li><a href=" "  class="B">Stack</a></li>
        <li><a href=" "  class="B">Expression Parsing</a></li>
        <li><a href=" " class="B">Queue</a></li>
          <li><a href=" " class="B">Serch algorithm</a></li>
        <li><a href=" "  class="C" >Linear Search</a></li>
        <li><a href=" " class="C">Binary Search </a></li>
        <li><a href=" " class="C">Interpolation search</a></li>
        <li><a href=" " class="C">Hash Table</a></li>
        <li><a href=" " class="B">Sorting algorithms</a></li>
    
</body>
</html>
